################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/nook-weather/__pycache__
/nook-weather/weather/__pycache__
