<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div id="main">

  <div id="current">
    <div class="calendar">
      <span class="weekday">{{ info.day }}</span>
      <span class="day">{{ info.date }}</span>
    </div>
    <img src="{{ info.icon_path }}/{{ now.icon }}.{{ info.icon_ext }}" alt="{{ now.cond }}" />
    <div id="temp">{{ now.temp }}&deg;</div>
    <div id="highlow">{{ now.high }}&deg;&nbsp;H<br />{{ now.low }}&deg;&nbsp;L</div>
  </div>
  <div id="conditions">
    <div id="detail">{{ now.summary }}</div>
  </div>

  <div class="forecast">
    {% for item in hourly %}
    <span class="next">
      {{ item.time }}
      <img src="{{ info.icon_path }}/{{ item.icon }}.{{ info.icon_ext }}" alt="{{ item.cond }}" />
      {{ item.temp }}&deg;
    </span>
    {% endfor %}
  </div>

  <div id="quote">
    {% for line in info.quote %}
      {{ line }}<br />
    {% endfor %}
  </div>

  <div class="forecast">
    {% for item in daily %}
    <span class="next">
      {{ item.day }}
      <br />
      {{ item.date }}
      <img src="{{ info.icon_path }}/{{ item.icon }}.{{ info.icon_ext }}" alt="{{ item.cond }}" />
      {{ item.high }}&deg;<br />{{ item.low }}&deg;
    </span>
    {% endfor %}
  </div>

  <div id="footer">{{ now.api_provider }} updated: {{ now.time }} (fetched on {{ info.now }})</div>

</div>
</body>
</html>
